# Virtuelle Umgebung ignorieren
venv/
.venv/

# Visual Studio Dateien
.vs/

# Videos und große Dateien ignorieren
*.mp4
*.avi
*.mov

# Sonstige temporäre oder Ausgabe-Dateien
__pycache__/
*.log
*.tmp
output/
